// Color
$primary-color: #187498;
$secondary-color: #36ae7c;
$tertiary-color: #f9d923;
$red-color: #df1f1f;
$success-color: #00da6f;
$grey-color: #838383;
$text-color: #1f1d0d;
$text-secondary-color: #29281e;
$text-tertiary-color: #838383;
$bg-color: #ffffff;
$bg-grey-color: #f6f6f6;
$bg-blue-color: #f5fbfd;
$bg-green-color: #f7fcfa;
$bg-yellow-color: rgb(249 217 35 / 10%);
$bg-red-color: rgb(223 31 31 / 10%);

// Border
$primary-border: 2px solid #187498;
$secondary-border: 2px solid #36ae7c;
$tertiary-border: 2px solid #f9d923;
$error-border: 2px solid #df1f1f;
$success-border: 2px solid #00da6f;
$grey-border: 2px solid #838383;

// Font
$primary-font-family: "Open Sans", sans-serif;

// Shadow
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
